.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btnxyz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btnxyz:hover {
  background-color: black;
}

.myimageButton {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

.myimageButton,
.myimageButton span {
  transition: 200ms;
}

.myimageButton .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.myimageButton .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myimageButton svg {
  width: 15px;
  fill: #eee;
}

.myimageButton:hover {
  background: #ff3636;
}

.myimageButton:hover .text {
  color: transparent;
}

.myimageButton:hover .icon {
  width: 100px;
  border-left: none;
  transform: translateX(0);
}

.myimageButton:focus {
  outline: none;
}

.myimageButton:active .icon svg {
  transform: scale(0.8);
}
