.search__div {
  padding: 3px;
  margin-left: 200px;
  border: 1px solid rgb(29, 9, 209);
  border-radius: 10px;
}
.search_head {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search_head > input {
  outline: none;
  width: 100%;
  border: none;
  /* background-color: red; */
}
input {
  outline: none;
}
textarea:focus,
input:focus {
  outline: none;
}
