.header__desh {
  margin-top: 120px;
  margin-left: 400px;
  margin-bottom: -150px;
  border-bottom: 1px solid gray;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 20px;
  width: 70%;
  display: flex;
  align-items: center;
  align-content: center;
}

.link__main[data-toggle].collapsed::after {
  content: ' ▾';
}
.link__main[data-toggle]:not(.collapsed):after {
  content: ' ▴';
}

.drop-down-text {
  display: flex;
  flex-direction: row;
  padding: 15px 15px;
}
.drop-down-text i {
  color: gainsboro;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.side-bar ul .nav-item {
  display: flex !important;
  flex-direction: row !important;
  color: gainsboro;
  position: relative;
  margin-top: -20px;
  padding: 10px 5px;
  left: -20px;
}
.side-bar ul .nav-item .ai-icon {
  font-size: 1em;
}
