.cardx {
    width: 190px;
    height: 254px;
    background: linear-gradient(135deg, #ff85ec 0%, #84ff98 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
   }