.image {
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

img {
  height: 200px;
  width: 200px;
}

.label {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  bottom: -20px;
  color: #fff;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: 0.1s all;
}

.image:hover .label {
  bottom: 0px;
}
