/* input touched */
input {
  /* border-radius: 40px; */
  margin-left: 10px;
  padding: 10px;
  z-index: 0.1;
}
.add {
  width: 60%;
  height: 25px;
  margin: 0 auto;
  border: none; /* <-- This thing here */
  border: solid 1px #ccc;
  border-radius: 10px;
}
input[data-touched="true"]:invalid {
  border: 1px solid #ea6263;
}
.form-reqs {
  visibility: hidden;
}
input[data-touched="true"]:invalid ~ .form-reqs {
  visibility: visible;
}
TextField[data-touched="true"]:invalid {
  border: 1px solid #ea6263;
}
.MuiTextField-root {
  border-color: magenta;
}
