.div__form {
  margin: 30px;
  padding: 30px;
  /* border: 1px solid; */
}
.MuiOutlinedInput-root {
  position: relative;
  border-radius: 4px;
  margin-bottom: 30px;
}

.div__searchRoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid lightblue;
  border-radius: 20px;
  width: 30%;
  padding: 5px;
}

.div__searchRoot > input {
  border: none;
  outline: none;
  background: none;
}

/* .dl-horizontal dt {
  white-space: normal;
} */

/* Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
  max-width: 280px;
}
div.dataTables_length {
  margin-right: 1em;
} */
